<div class="location-modal location-modal__container">
    <div class="location-modal__content location-modal__content-wrap">
        <h1>Welcome.</h1>
        <p>It looks like you are accessing our site from outside of the United States. Do you wish to continue to our rest of world site?</p>
        <div class="location-modal__form-wrap">
            <form class="location-modal__form" action="" method="">
                <button class="location-modal__button location-modal__button__yes action-button action-button--light" type="submit" value="">Yes, continue to rest of world.</button>
                <button class="location-modal__button location-modal__button__no action-button" type="submit" value="">No, continue to United States.</button>   
            </form> 
        </div>
    </div>
</div>
