<div class="nutrition-modal js-nutrition-modal">
    <div class="nutrition-modal__content">
      <div class="nutrition-modal__close js-nutrition-modal-close">X</div>
      <div class="nutrition-modal__heading section-strong">
        Nutrition Facts
      </div>
      {{product.metafields.global.nutrition_facts}}
    </div>
</div>
