{% if product.metafields.okendo.summaryData.reviewCount > 0 or product.metafields.okendo.ReviewCount > 0 %}
    <div data-oke-reviews-product-listing-rating>{{ product.metafields.okendo.ProductListingSnippet }}</div>
{% else %}
    <div data-oke-reviews-version="2.10.18" class="okeReviews okeReviews--theme">
        <div
            class="okeReviews-reviewsSummary js-okeReviews-reviewsSummary is-okeReviews-empty"
            data-oke-ga-click-action="Star Rating Summary Click"
        >
            <div class="okeReviews-reviewsSummary-starRating">
                <span class="okeReviews-starRating okeReviews-starRating--small">
                    <span class="okeReviews-a11yText">Rated 0.0 out of 5</span>
                    <span class="okeReviews-starRating-indicator" role="presentation">
                        <span class="okeReviews-starRating-indicator-layer"></span>
                        <span
                            class="okeReviews-starRating-indicator-layer okeReviews-starRating-indicator-layer--foreground"
                            style="width: 0%"
                        ></span>
                    </span>
                </span>
            </div>
            <div class="okeReviews-reviewsSummary-ratingCount">0 Reviews</div>
        </div>
    </div>
{% endif %}