{%- assign border = section.settings.border -%}
{%- assign showIcons = false -%}
{%- assign productIDString = product.id | downcase %}
{%- assign pageIDString = page.id | downcase %}
{% for block in section.blocks %}
{% assign productArray = block.settings.productID | split: "," %}
    {% assign pageArray = block.settings.pageId | split: "," %}
    {% if productArray contains productIDString or pageArray contains pageIDString or
        collection.handle == block.settings.collectionId and request.page_type == 'collection' %}
        {%- assign showIcons = true -%}
    {% endif %}
{% endfor %}
{% if showIcons and section.blocks.size > 0 %}
    <section class="product-description-with-icon-section">
        <div class="content-area">
            <div class="product-description-with-icon__content {% if border %}show-border--thick{% endif %}">
                {% for block in section.blocks %}
                    {% assign productArray = block.settings.productID | split: "," %}
                    {% assign pageArray = block.settings.pageId | split: "," %}
                    {% if productArray contains productIDString or pageArray contains pageIDString or
                        collection.handle == block.settings.collectionId and request.page_type == 'collection' %}
                        <div class="product-description-with-icon__heading-wrap">
                            <h3 class="product-description-with-icon__heading">
                                {{block.settings.heading}}
                            </h3>
                            <h4 class="product-description-with-icon__subheading">
                                    {{block.settings.subtext}}
                            </h4>
                        </div>
                        <div class="product-description-with-icon__image-wrap">
                            <div class="product-description-with-icon__image">
                                {{block.settings.image}}
                            </div>
                        </div>
                       
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}

{% schema %}
    {
        "name": "Description with Icon",
        "settings": [
            {
                "type": "checkbox",
                "id": "border",
                "label": "Show border",
                "default": true
            }
        ],
        "blocks": [
            {
                "type":"text",
                "name":"Description with Icon",
                "settings": [
                    {
                        "type": "html",
                        "id": "image",
                        "label": "Icon"
                    },
                    {
                        "id": "heading",
                        "type": "text",
                        "label": "Heading"
                    },
                    {
                        "id": "subtext",
                        "type": "textarea",
                        "label": "Text"
                    },
                    {
                        "type": "textarea",
                        "id": "productID",
                        "label": "List Product Ids (Separated by Comma)"
                    },
                    {
                        "type": "collection",
                        "id": "collectionId",
                        "label": "Choose Collection"
                    },
                    {
                        "type": "textarea",
                        "id": "pageId",
                        "label": "List Page Ids (Separated by Comma)"
                    }
                ]
            }
        ]
    }

{% endschema %}