{%- assign productsPerRow = section.settings.products_per_row -%}
{%- assign productsLimit = productsPerRow | times: section.settings.rows -%}
{%- assign sectionHeading = section.settings.title | escape -%}
{%- assign border = section.settings.border -%}
{%- assign subscriptionProducts = page.metafields.global.subscription_list_self_care | split: ","  -%}


{% if subscriptionProducts != blank %}
<div class="landing-page-collection-section" data-section-id="{{ section.id }}" data-section-type="dynamic-collection">

  <div class="about-featured-collection__wrap {% if border %}show-border{% endif %}">
      <section
      class="
        home-section
        featured-collection
        clearfix
        content-area
        content-area--larger-padding
        {% if sectionHeading != blank %}has-heading{% endif %}
      "
    >
      {% if sectionHeading != blank %}
        <h2 class="section-title">{{ sectionHeading }}</h2>
      {% endif %}

        <ul class="product-list row-of-{{ productsPerRow }}">
          {% for subscription_product in subscriptionProducts %}
            {% assign subscription_product_stripped =  subscription_product | strip  %}
              {% render 'product-item-subscription',
                product: all_products[subscription_product_stripped],
                forloop: forloop,
                onboarding: false,
              %}
          {% endfor %}
        </ul>

    </section>
  </div>
</div>

{% endif %}
{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "checkbox",
      "id": "border",
      "label": "Show border",
      "default": true
    },
    {
      "type": "range",
      "id": "rows",
      "label": "Rows",
      "min": 1,
      "max": 11,
      "step": 1,
      "default": 1
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Number of products per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 4
    }
  ]
}

{% endschema %}