<div class="full-width section--locator locator" id="locator">
  <div class="row d-flex justify-content-end">
    <div class="col-10">
      <div class="locator-map-container">
        <div class="map" data-marker-icon="{{ "map-marker.svg" | asset_url }}" data-cluster-icon="{{ "map-cluster.svg" | asset_url }}"></div>
      </div>
      <div class="filters pull">
        <div class="toggles type--s">
          <a href="#" class="active">By Location</a>
          <!--<a href="#">By Cocktail</a>-->
        </div>
        <form class="form" id="locator-form">
          <div class="input-wrap">
            <label for="location">Your Address</label>
            <input
            id="location"
            type="text"
            placeholder="970 N Broadway, Los Angeles 90012"
            />
          </div>
          <div class="input-wrap radio">
            <label for="restaurants">
              <input
              id="restaurants"
              checked
              type="radio"
              value="Bar/Restaurant"
              name="location_type"
              />
              <span>Bar/Restaurant</span>
            </label>
            <label for="retailers">
              <input
              id="retailers"
              type="radio"
              value="Retailer"
              name="location_type"
              />
              <span>Retailer</span>
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<div class="section--links links">
  <div class="container">
      <div class="row d-flex justify-content-between flex-wrap location-text-results" data-show="Restaurant">

  </div>
  </div>
</div>
